<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
    <meta name="description" content="page for collecting dojo user info" />
    <meta name="author" content="vishnu" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/index.css')}}" />
  </head>
  <body>
    <h1>Welcome to Dojo Survey</h1>
    <form action="/get_info" method="post" id='form1'>
      <label>Your Name:
        <input type="text" name="name" />
      </label>
      <label>Dojo Location:
        <select name="location">
          <option value="seattle">Seattle</option>
          <option value="silicon valley">Silicon Valley</option>
          <option value="los angeles">Los Angeles</option>
          <option value="dallas">Dallas</option>
          <option value="washington dc">Washington DC</option>
          <option value="chicago">Chicago</option>
        </select>
      </label>
      <label>Favorite Language:
        <select name="fav">
          <option value="python">Python</option>
          <option value="ruby">Ruby</option>
          <option value="javascript">JavaScript</option>
          <option value="cobol">COBOL</option>
        </select>
      </label>
      <label>Comment (120 characters or less):
        <textarea name="comment"></textarea>
      </label>
      {% with err_msgs = get_flashed_messages() %}
        {% if err_msgs %}
          {% for msg in err_msgs: %}
            <p>*{{msg}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <input type="submit" value="Submit" />
    </form>
    <form action="/showall" method="get" id='form2'>
      <input type="submit" value="Click here to see all"  />
    </form>
  </body>
</html>
