html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-size: calc((1vw + 1vh)/2);
  font-family: sans-serif;
}

*{
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

header{
  width: 90vw;
  position: absolute;
  left: 5vw;
  border: 1px solid rgb(120,120,120);
  /*box-shadow: 0 0.125rem 0.1rem black;*/
}
  header>div{
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
  }
  header>div>h2{
    line-height: calc(100% * 2);
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0;
    color: white;
    background-color: rgb(120,120,120);
  }
  header>div>a{
    font-size: 1.5rem;
    margin: 0 0 0 0.5rem;
    line-height: 2.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
  }
    header>div>a:last-of-type{
      margin: 0 0 0 auto;
    }
    header>div>a:hover{
      color: lightgray;
      background-color: black;
    }

main{
  width: 90vw;
  position: absolute;
  top: calc((1vw + 1vh) * 2.4);
  left: 5vw;
  overflow-y: auto;
}
