<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NinjaGold - Pylot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/ninja.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/ninja.css')}}" media="screen" charset="utf-8">
    <!-- <link rel="stylesheet" href="..\static\css\ninja.css" media="screen" charset="utf-8"> -->
  </head>
  <body>
    <h1>Ninja Gold</h1>
    <div class="score">
      <p>
        Your Gold: <span id="showscore">0</span>
      </p>
      <a href="/reset">reset</a>
    </div>
    <hr>
    <div class="buildings">
      <form id="farm">
        <h2>Farm</h2>
        <h3>(earns 10-20 golds)</h3>
        <input type="submit" value="Find Gold!">
      </form>
      <form id="cave">
        <h2>Cave</h2>
        <h3>(earns 5-10 golds)</h3>
        <input type="submit" value="Find Gold!">
      </form>
      <form id="house">
        <h2>House</h2>
        <h3>(earns 2-5 golds)</h3>
        <input type="submit" value="Find Gold!">
      </form>
      <form id="casino">
        <h2>Casino</h2>
        <h3>(earns / loses 0-50 golds)</h3>
        <input type="submit" value="Find Gold!">
      </form>
    </div>
    <hr>
    <h2>Activity:</h2>
    <div class="activity">
    </div>
  </body>
</html>
