<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/users.css')}}" />
    <!-- <link rel="stylesheet" type="text/css" href="..\static\styles\users.css" /> -->
  </head>
  <body>
    <main>
      <div id="index">
        <h1>Users</h1>
        <a href="/users/new">Add New User</a>
        <table>
          <thead>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {% for user in session['users_in_db'] %}
              <tr>
                <td>{{user['id']}}</td>
                <td><a href="/users/{{user['id']}}">{{user['name']}}</a></td>
                <td>{{user['email']}}</td>
                <td>{{user['created_at']}}</td>
                <td><a href="/users/{{user['id']}}">Show</a> - <a href="/users/{{user['id']}}/edit">Edit</a> - <a href="/users/{{user['id']}}/destroy">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
