<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter</title>
    <meta name="description" content="template for the counter assignment"  />
    <meta name="author" content="vishnu" />
    <link type="text/css" rel="stylesheet" href='{{url_for('static', filename='styles/counter.css')}}' />
  </head>
  <body>
    <header>Counter</header>
    <h1>{{counter}}</h1>
    <form action="/by2" method="get" id="by2">
      <input type="submit" value="+2" />
    </form>
    <form action="/reset" method="get" id="reset">
      <input type="submit" value="Reset" />
    </form>
  </body>
</html>
