<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TMNT</title>
    <!-- <link rel="stylesheet" type="text/css" href="..\static\styles\ninja.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/ninja.css')}}" />
  </head>
  <body>
    <h1>No Ninjas here ... yet!!</h1>
    <h4>(Click on links below to see them)</h4>
    <ul>
      <li><a href="/ninja/blue">Blue Ninja</a></li>
      <li><a href="/ninja/orange">Orange Ninja</a></li>
      <li><a href="/ninja/red">Red Ninja</a></li>
      <li><a href="/ninja/purple">Purple Ninja</a></li>
    </ul>
    <img src="{{img}}" class="{{disp}}"/>
  </body>
</html>
