*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body{
  width: 90%;
  margin: auto;
  font-size: calc(1.5 * (1vh + 1vw) / 2);
}

header{
  background-color: black;
  color: white;
  text-align: center;
  margin: 1vh auto;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
  .left,
  .right{
    /*border: 1px solid black;*/
  }
  .left{
    width: 70%;
    max-height: 91vh;
    overflow-y: auto;
  }
    .left *{
      margin: 1vh 1vw;
    }
    .left .tasklist{
      display: flex;
      align-items: center;
    }
      .left .tasklist input[type='submit']{
        padding: 0 1vw;
        width: 20%;
      }
      .left .tasklist input[type='text']{
        padding: 0 1vw;
        border: none;
        width: 70%;
      }

  .right{
    width: 30%;
  }
    .right .add{
      display: flex;
      flex-direction: column;
      background-color: black;
      color: white;
    }
      .right .add *{
        margin: 1vh 1vw;
      }
      .right .add input[type='submit']{
        width: 30%;
        align-self: flex-end;
      }
      .right .add input[type='text']{
        padding: 0 1vw;
      }
