<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>iTunes Search</title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tunes.js') }}"></script>
    <!-- <script type="text/javascript" src="..\static\js\tunes.js"></script> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tunes.css') }}">
    <!-- <link rel="stylesheet" href="..\static\css\tunes.css"> -->
  </head>
  <body>
    <form>
      <label>Enter Artist's Name:</label>
      <label>
        <input class="artist" type="text" name="name">
        <input type="submit" value="Search">
      </label>
    </form>
    <div class="wait">
      <img src="{{ url_for('static', filename='img/giphy.gif') }}" alt="loading image" />
      <!-- <img src="..\static\img\giphy.gif" alt="loading image" /> -->
    </div>
    <div class="video">
    </div>
  </body>
</html>
