*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background-color: #000000;
}

body{
  width: 50%;
  margin: auto;
  background-color: #cc6600;
  color: white;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

form{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
  form label{
    width: 100%;
    margin: 10px auto;
  }
    form label span{
      display: inline-block;
      background-color: white;
      color: #cc6600;
      margin-bottom: 2px;
    }
    form label input{
      width: 100%;
      font-size: 20px;
    }
  form>input{
    width: auto;
    margin: auto;
    padding: 5px;
    background-color: white;
    color: #cc6600;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }

footer{
  display: flex;
}
  footer a{
    background-color: white;
    color: #cc6600;
    margin: 20px auto 0 auto;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }

hr{
  border-color: transparent;
  margin: 20px;
}
